<div class="ui small inverted menu">
  <div class="ui container">
    <%= link_to "Chatroom", root_path, class: "item" %>
    <a class="item">
      Messages
    </a>
      </div>
      <% if logged_in? %>
        <div class="ui simple dropdown item">
          <span class = "item">Account</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to "View", "#", class: "item" %>
            <%= link_to "Edit", "#", class: "item" %>
          </div>
        </div>
        <%= link_to "Log Out", logout_path, method: :delete, class: "item" %>
      <% else %>
        <%= link_to "Log In", login_path, class: "item" %>
        <div class="item">
            <div class="ui primary button">Sign Up</div>
        </div>
      <% end %>

    </div>
  </div>
</div>
